<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: skyblue">

    <a href ="my" target ="rightframe">个人信息</a><br />
    <a href="courses" target="rightframe">课程</a><br>
    <a href="course_chose" target="rightframe">课程选择</a><br>
    <a href="courses_stu" target="rightframe">我的课程</a><br>
    <a href="homework_view_stu" target="rightframe">作业查看</a><br>
    <a href ="upload" target ="rightframe">作业上传</a><br />
    <a href="login" target="frame">退出系统</a>

</body>
</html>