<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>课程学生查看</h1>
    <table align="center" border="1">
        <thead>
        <tr>
            <th>课程ID</th>
            <th>教师ID</th>
            <th>作业ID</th>
            <th>作业名</th>
            <th>作业提交路径</th>
            <th>截至日期</th>
            <th>分数</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="homeworkf:${homeworkstatus}">
            <td th:text="${homeworkf.cid}"></td>
            <td th:text="${homeworkf.tid}"></td>
            <td th:text="${homeworkf.hid}"></td>
            <td th:text="${homeworkf.name}"></td>
            <td th:text="${homeworkf.path}"></td>
            <td th:text="${homeworkf.date}"></td>
            <td th:text="${homeworkf.score}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>