<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center" style="background: darkseagreen">
    <h3>作业创建</h3>
    <form method="post" action="homework_create_action">
        课程ID:<input type="number" name="cid" required/><br>
        作业ID:<input type="number" name="hid" required/><br>
        作业名:<input type="text" name="name"/><br>
        作业提交目录:<input type="text"  name="path" placeholder="C:/Other/" required/><br>
        作业截至日期:<input type="date" name="date"/><br>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>