<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: lightgrey">
<div align="center">
    <br><br>教师注册界面<br><br>
    <form method="post" action="/Register_Sys">
        ID:<input type="number" name="id" placeholder="请输入ID" required/><br/><br/>
        用户名:<input type="text" name="username" placeholder="请输入用户名" required/><br><br>
        密码：<input type="text" name="password" placeholder="请输入密码" required/><br><br>
        确认密码：<input type="text" name="password2" placeholder="请输入密码" required/><br><br>
        <input type="submit" value="注册">
    </form>
</div>
</body>
</html>
