<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center" style="background: salmon">
    <form action="score_upload" method="post">
        <input type="number" name="cid" required placeholder="请输入课程ID"/>
        <input type="number" name="hid" required placeholder="请输入作业ID"/>
        <input type="number" name="sid" required placeholder="请输入学生ID"/>
        <input type="number" name="score" required placeholder="请输入分数"/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>